{% extends 'base.html' %}

{% block content %}
{% load static %}

        
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">Accomodation</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Accomodation</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
<!--================ Accommodation Area  =================-->
<section id="accommodationSection" class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Hotel Accommodation</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div id="availability-room-1" class="availability-message"></div>
                    <div class="hotel_img">
                        <img src="{% static 'image/room1.jpg' %}" alt="Double Deluxe Room">
                        <a href="{% url 'bookings:book_now' room_id=1 %}" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="{% url 'bookings:double_deluxe_room' %}"><h4 class="sec_h4">Double Deluxe Room</h4></a>
                    <h5>Rs.2000<small>/night</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div id="availability-room-2" class="availability-message"></div>
                    <div class="hotel_img">
                        <img src="{% static 'image/room2.jpg' %}" alt="Double Standard Room">
                        <a href="{% url 'bookings:book_now' room_id=2 %}" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="{% url 'bookings:double_standard_room' %}"><h4 class="sec_h4">Double Standard Room</h4></a>
                    <h5>Rs.1500<small>/night</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div id="availability-room-3" class="availability-message"></div>
                    <div class="hotel_img">
                        <img src="{% static 'image/room3.jpg' %}" alt="Honeymoon Suite">
                        <a href="{% url 'bookings:book_now' room_id=3 %}" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="{% url 'bookings:honeymoon_suite' %}"><h4 class="sec_h4">Honeymoon Suite</h4></a>
                    <h5>Rs.2500<small>/night</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div id="availability-room-4" class="availability-message"></div>
                    <div class="hotel_img">
                        <img src="{% static 'image/room4.jpg' %}" alt="Economy Double">
                        <a href="{% url 'bookings:book_now' room_id=4 %}" class="btn theme_btn button_hover">Book Now</a>
                    </div>
                    <a href="{% url 'bookings:economy_double_room' %}"><h4 class="sec_h4">Economy Double</h4></a>
                    <h5>Rs.1000<small>/night</small></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Accommodation Area  =================-->


        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
{% endblock %}